.player a, .player button {
  outline: none !important;
  cursor: pointer;
}

.player button:active {box-shadow: none !important}

.player {position: relative;}

.player > iframe {
  display: block;
  position: fixed;
  top: 120%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 15;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  opacity: 0;
}

.trad .player > iframe {
  top: 10%;
  box-shadow: 0 5px 20px 2px #000;
  opacity: 1;
}

.sidebar {
    margin: 20px;
    width: 33%;
    float: left;
    position: relative;
    max-width: 500px;
    min-width: 200px;
    height: 100%;
  }

.player {
    background: #300;
    border-radius: 5px;
    box-shadow:
      inset 0px 2px 2px rgba(255, 255, 220, 0.4),
      inset 0 -3px 2px rgba(0, 0, 0, 0.8),
      0 3px 5px #000;
    width: 100%;
}

.panel {
  width: 94%;
  padding: 3%; /* was margin... */
  background-size: 100%;
}

.player > button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
}

.light {
  position: absolute;
  z-index: 2;
  top: 12.5%;
  left: 8%;
  height: 3%;
  width: 2.5%;
  border-radius: 999px;
  background: #090;
  box-shadow: inset 0 0 5px #000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.playing .light {animation: flashing 1s infinite; -webkit-animation: flashing 1s infinite;}

@keyframes flashing {
  0% {
        background: #090;
        box-shadow: inset 0 0 5px #000;
       }
  20%   {
      background: #0d0;
      box-shadow: inset 0 0 2px #000, 0 0 20px #0f0;
       }
  100%   {
        background: #090;
        box-shadow: inset 0 0 5px #000;
       }
}

@-webkit-keyframes flashing {
  0% {
        background: #090;
        box-shadow: inset 0 0 5px #000;
       }
  20%   {
      background: #0d0;
      box-shadow: inset 0 0 2px #000, 0 0 20px #0f0;
       }
  100%   {
        background: #090;
        box-shadow: inset 0 0 5px #000;
       }
}

.track-info {
  position: absolute;
  z-index: 2;
  background: #000;
  top: 10%;
  left: 15%;
  right: 7%;
  height: 8%;
  overflow: hidden;
  box-shadow:
    1px 2px 1px rgba(255, 255, 220, 0.4),
    -1px -2px 1px rgba(0, 0, 0, 0.8);
  word-break: break-all;
}

.track-info a {
  padding: 2px 2%;
  text-decoration: none;
  font-size: 0;
  position: absolute;
  width: 9999px;
}


.progress {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* SKIN-SPECIFIC STYLES */

.track-info a {
    font-family: Codystar, monospace;
    color: #d00 !important;
    text-shadow: 0 0 2px #f00;
  }

.playing .track-info a {
    color: #f00 !important;
    text-shadow: 0 0 2px #f00, 0 0 3px #f00, 0 0 5px #f00, 0 0 10px #f00 ;
  }

.progress {background: #200;}

.player > button {
  height: 29%;
  width: 19%;
  top: 42%; 
}

.pause {left: 6%;}
.play {left: 29%;}
.prev {left: 51%;}
.next {left: 74%;}

.listmask {
  text-align: center;
  position: fixed;
  z-index: 9;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  text-shadow: 1px 1px 1px #000;
}


.listmask p.credits {
  font-size: 11px;
  color: #ccc;
  bottom: 14px;
  position: absolute;
  padding: 0;
  border-radius: 99px;
  margin: 0;
  width: 100%;
  z-index: 9;
  text-align: center;
  transition: all 0.5s; -webkit-transition: all 0.5s;
  font-family: Verdana, sans-serif;
}
.listmask p.credits a {
  color: #ddf;
  background: #000;
  padding: 4px 6px;
  margin: 0 2px;
  border-radius: 1px;
  text-decoration: none;
  text-shadow: none;
}
.listmask p.credits a:hover {color: #000; background: #fff;}
.trad p.credits {opacity: 0;}
.listmask .closer {display: none;}

.tracklist {
  position: fixed;
  top: 110%;
  opacity: 0;
  padding: 5px;
  max-width: 80%;
  width: 600px;
  z-index: 10;
  box-shadow: 0 5px 20px 2px #000;
  margin: 0 0 0 -1em;
  border-radius: 0;
  border: 0;
  padding: 1.75em 1em 1em;
  font-family: 'Reenie Beanie', 'Brush Script MT', cursive;
  font-size: 22px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transform: rotate(40deg) scale(0.3);
  -webkit-transform: rotate(40deg) scale(0.3);
}
.tracklist.up {
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  opacity: 1; top: 70px;
}

.trad .tracklist {
  top: 30%;
  transform: rotate(-40deg) scale(0.1);
  -webkit-transform: rotate(-40deg) scale(0.1);
}

a.tracklink {
  text-decoration: none;
  color: #22c;
  text-shadow: 0 0 2px #22c;
  border-bottom: 1px solid #444;
  width: 100%;
  display: inline-block;
  line-height: 22px;
  height: 18px;
}

a.tracklink:hover {
  text-shadow: none;
  text-shadow: 0 0 2px #f22;
  color: #f22;
}

a.SCicon > img {
  height: 40px;
  float: right;
  border-radius: 999px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
a.SCicon:hover > img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
a.SCicon:active > img {
}

a.SCicon {
  border: none;
  position: absolute;
  right: 14px;
  top: 10px;
  width: 45px;
}

img.preloaded {
  width: 1px; height: 1px; position: fixed; top: -9999px; display: none;
}

.tracklist {
background: rgb(255,255,245);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,245,1) 0%, rgba(255,255,223,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,245,1)), color-stop(100%,rgba(255,255,223,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,245,1) 0%,rgba(255,255,223,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,245,1) 0%,rgba(255,255,223,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,245,1) 0%,rgba(255,255,223,1) 100%);
background: radial-gradient(ellipse at center,  rgba(255,255,245,1) 0%,rgba(255,255,223,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff5', endColorstr='#ffffdf',GradientType=1 );
}

@media screen and (max-width: 600px) {
  .tracklist {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;}
  .tracklist.up {top: 40px; }
  p.credits {position: fixed; top: -9999px;}
  .trad .player > iframe {
    top: 1%;
    left: 1%;
    right: 1%;
    height: 85%;
    width: 98%;
  }
  .listmask p.closer {
    display: block;
    font-size: 24px !important;
    font-family: 'Reenie Beanie', script;
    text-align: center;
    color: #000;
    position: fixed;
    bottom: 2%;
    width:  40%;
    margin: 0 -27px;
    left: 30%;
    padding: 0 24px;
    background: #ffe;
    border-radius: 99px;
    border: 3px solid #000;

  }

  .main-navigation {
    position: static;
    padding: 1em;
    margin: 0 0 0 -1em;
  }
  .main-navigation li {
    margin: 0 1em;
  }
}